<mat-nav-list>
  <div class="logo py-4 px-2">
    <img class="logo-img" src="../../assets/joker_stand.gif" alt="" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2 px-2">APPLICATIONS</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon> Inicio
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>money</mat-icon> Ventas
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>local_mall</mat-icon> Productos
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>local_parking</mat-icon> Prestamos
  </a>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>bar_chart</mat-icon> Reporte
  </a>
</mat-nav-list>
